.clicable {
    cursor: pointer;
}
.espaciado {
    margin: 5px;
    padding: 5px;
}
.error {
    color:red;
}
.login {

}
.register {
    
}
input:invalid {
    border-color: yellow;
}
input:valid {
    border-color: green;
}