.clicable {
    cursor: pointer;
}
.espaciado {
    padding: 5px;
    margin: 5px;
    /* width: max-content; */
}
.plano {
    margin: 0 !important;
    padding: 0 !important;
}
.flex {
    display:flex;
}
.centrado {
    display:flex;
    justify-content: center;
    align-items: center;
}
.repartido {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.tabulado {
    width: 100px;
}
.redondeado {
    border-radius: 7px;
}
.exito {
    color:green;
}
.error {
    color:red;
}
.login {
flex-direction: column;
}
.register {
    
}
input:invalid {
    border-color: yellow;
}
input:valid {
    border-color: green;
}
.column {
    display:flex;
    flex-direction: column;
}
.label {
    font-weight:bold;
}
.grupo {
    border:2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    min-width:192px;
}
.grupo-edit {
    border:2px solid black;
    border-radius: 5px;
    background-color: azure;
    min-width:192px;
}
