.clicable {
    cursor: pointer;
}
.espaciado {
    margin: 5px;
    padding: 5px;
}
.plano {
    margin: 0 !important;
    padding: 0 !important;
}
.flex {
    display:flex;
}
.tabulado {
    width: 100px;
}
.exito {
    color:green;
}
.error {
    color:red;
}
.login {

}
.register {
    
}
input:invalid {
    border-color: yellow;
}
input:valid {
    border-color: green;
}
.column {
    display:flex;
    flex-direction: column;
}
.grupo {
    border:2px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    min-width:192px;
}
.grupo-edit {
    border:2px solid black;
    border-radius: 5px;
    background-color: azure;
    min-width:192px;
}